body{
	background-image:url("../assets/contact-us_1.jpg");
	background-repeat:no-repeat;
	background-size:50% 100%;
	background-attachment: fixed;
	background-position: left;
}
.contact_body{
	margin-top:45px;
	color: black;
}
#contactH1{
	text-align:center;
	text-decoration:underline;
	font-family: 'Tangerine';
	font-size:84px;
	margin-bottom:0;
	color: orangered;
}
.innerContact{
	margin-top:100px;
	text-align:left;
	margin-left:650px;
	font-size:36px;
}
#helpEmail{
	text-decoration:underline;
}

#aboutH2-1{
	text-align:left;
	margin-left:15px;
	text-decoration:underline;
	font-family: 'Syne Mono';
	font-size:48px;
	margin-bottom:0;
}
#aboutH2-2{
	text-align:left;
	margin-left:15px;
	text-decoration:underline;
	font-family: 'Syne Mono';
	font-size:48px;
	margin-bottom:0;
}
#aboutH2-3{
	text-align:left;
	margin-left:15px;
	text-decoration:underline;
	font-family: 'Syne Mono';
	font-size:48px;
	margin-bottom:0;
}
.ourVision{
	width:400px;
	margin-left:15px;
	font-size:20px;
}
.whatweoffer{
	width:400px;
	margin-left:15px;
	font-size:20px;
}
#ulist{
	width:400px;
	margin-left:15px;
	font-size:20px;
}
.whychoose{
	width:400px;
	margin-left:15px;
	font-size:20px;
}
#chooselist{
	width:400px;
	margin-left:15px;
	font-size:20px;
}
footer {
    background-color: transparent;
    color: black;
    text-align: right;    
    position: fixed;
    bottom: 0;
    width: 98%;
}