		body{
			
			background-image: url("../assets/login.jpg");
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center;
		}
		form{
			font-size:15px;
			left:10%;
			top:12%;
			position:absolute;
			
			border-color:yellow;
		}
		#nameLabel{
			padding:10px;
			text-align:left;
			color:black;
		}
		.input{
			width:100%;
			padding:10px;
			border-radius:5px;
			border-style: solid;
			background-color: transparent;
		}
		#pwdLabel{
			padding:10px;
			text-align:left;
			color:black;
		}
		.submit{
			color:black;
			font-size:18px;
			background-color:transparent;
			border-radius:5px;
			border-style: solid;
			border-color: black;
		}
		h1{
			color:black;
			text-align:center;
		}
		.newUser{
			color:black;
		}
		.newAcc{
			color:black;
		}
/*		#loginForm{
			margin-left:50px;
		}*/
		footer {
			background-color: transparent;
			color: black;
			position: fixed;
			bottom: 0;
			width: 88%;
		}