		body{
			
			background-image: url("../assets/registration.jpg");
			background-repeat: no-repeat;
			background-size:100% 100%;
			background-attachment:fixed;
			background-position: center;
		}

		form{
			font-size:15px;
			left:75%;
			top:12%;
			position:absolute;
		}

		.input{
			width:100%;
			padding:10px;
			border-radius:5px;
			border-style: solid;
			background-color: transparent;
		}
		.signup{
			color:black;
			font-size:18px;
			background-color:transparent;
			border-radius:5px;
			border-style: solid;
			border-color: black;
			font-weight:bold;
			}
		.memberUser{
			color:black;
		}
		.member{
			color:black;
		}
		footer {
    background-color: transparent;
    color: black;
    text-align: right;    
    position: fixed;
    bottom: 0;
    width: 98%;
}