<!DOCTYPE html>
<html>
    <head>
	<title>About Us</title>
<link rel="icon" href="../assets/digital-library.png">
<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/about.css">
<script src="../scrpt/home.js"></script>
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Syne+Mono" rel="stylesheet">
<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            
        </style>
    </head>
    <body>
        <ul id="navList">
            <li><a href="../view/home.html">Home</a></li>
            <li><a href="../view/shelf.html">Shelf</a></li>
            <li><a href="../view/contactus.html">Contact Us</a></li>
            <li><a class="active" href="../view/about.html">About Us</a></li>
			<li><a href="../view/login.html">Login</a></li>
			<li><a href="../view/register.html">Sign Up</a></li>			
        </ul>
		
		<div class="about_body">
			<div style="margin-left:50%;">
				<h1 id="aboutH1">About CloudLibrary</h1>
				
				<div class="innerAbout"><b>
				Welcome to CloudLibrary, the premier online destination for readers, researchers, and knowledge seekers. Our mission is to provide easy access to a vast and diverse collection of books, journals, and multimedia resources, all available at your fingertips. Whether you're a student, a professional, or simply someone with a passion for reading, CloudLibrary is designed to cater to your needs with an intuitive and user-friendly platform.</b>
				</div>
			</div>
			<hr>
			<div>
				<h2 id="aboutH2-1">Our Vision</h2>
				
				<div class="ourVision"><b>At CloudLibrary, we believe that access to information and literature should be seamless, convenient, and inclusive. We aim to break down barriers to learning by offering a comprehensive digital library that can be accessed from anywhere in the world. Our vision is to foster a love for reading and lifelong learning by making high-quality content available to everyone, regardless of their location or background.</b>
			</div>
			</div>
			<hr>
			<div  style="margin-left:50%;">
				<h2 id="aboutH2-2">What We Offer</h2>
				
				<div class="whatweoffer">
					<ul id="ulist"><b>
						<p id="p1">Extensive Collection: Explore millions of titles across various genres, including fiction, non-fiction, academic texts, and multimedia resources.</p>
						
						<p id="p2">User-Friendly Interface: Our platform is designed for ease of use, allowing you to quickly find and access the content you need.</p>
						
						<p id="p3">Personalized Experience: Enjoy customized recommendations based on your reading habits and preferences.</p>
						
						<p id="p4">Accessibility: Access CloudLibrary from any device, whether you're at home, at work, or on the go.</p>
						
						<p id="p5">Community and Collaboration: Join a vibrant community of readers and participate in discussions, book clubs, and collaborative learning activities.</p>
					</b></ul>
				</div>
			</div>
			<hr>
			<div>
				<h2 id="aboutH2-3">Why Choose CloudLibrary?</h2>
				
				<div class="whychoose">
					<ul id="chooselist"><b>
						<p id="p6">Convenience: Say goodbye to physical boundaries and hello to digital convenience. Access our library anytime, anywhere.</p>
						
						<p id="p7">Diversity: From classic literature to the latest publications, our library offers a wide range of content to suit every interest and need.</p>
						
						<p id="p8">Innovation: We continuously update and improve our platform to incorporate the latest technologies and features for an enhanced reading experience.</p>
						
						<p id="p9">Support: Our dedicated support team is always here to help you make the most of your CloudLibrary experience.</p>
					</b></ul>
				</div>
			</div>		
		</div>

		<footer>
			<p style="margin-bottom:0px">&copy; 2024 Cloud Library</p><p style="margin-top:0px">Praveen Lahase</p>
		</footer>
		
    </body>
</html>