<!DOCTYPE html>
<html>
    <head>
		<title>Login</title>
		<link rel="icon" href="../assets/digital-library.png">
		<link rel="stylesheet" href="../css/home.css">
		<link rel="stylesheet" href="../css/about.css">
		<link rel="stylesheet" href="../css/login.css">
		<script src="../script/home.js"></script>
		<script src="../script/login.js"></script>
		<script src="../script/register.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Syne+Mono" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
    <style>
            
    </style>
	
    </head>
	
		<body>
		
		<ul id="navList">
            <li><a href="../view/home.html">Home</a></li>
            <li><a href="../view/shelf.html">Shelf</a></li>
            <li><a href="../view/contactus.html">Contact Us</a></li>
            <li><a href="../view/about.html">About Us</a></li>
			<li><a class="active" href="../view/login.html">Login</a></li>
			<li><a href="../view/register.html">Sign Up</a></li>
        </ul>
		
			<form id="loginForm">
			<legend><h1>Login</h1></legend>
			<hr>
		
			<div>
			<label for="name" id="nameLabel"><b>Login ID: </b></label>
			</div>
			<div>
			<input type="text" id="nameInput" class="input" placeholder="Enter your LoginID here." required/>
			</div>
			
			<br>
			
			<div>
			<label for="pwd" id="pwdLabel"><b>Password: </b></label>
			</div>
			<div>
			<input type="password" id="pwdInput" class="input" placeholder="Enter your Password here." required/>
			</div>

			<br>
				
			<button type="submit" class="submit" onclick="login()" value="Login">Login</button> &nbsp;
			<div><span class="forgotPwd"><a href="https://www.google.co.in">Forgot Password?</a></span></div>
			
			<br>

			<span class="newUser">New User? <span><a class="newAcc" href="../view/register.html"/> Create an account here.</span></span>
		</form>
		
		<footer>
			<p style="margin-bottom:0px">&copy; 2024 Cloud Library</p><p style="margin-top:0px">Praveen Lahase</p>
		</footer>
			
		</body>
</html>