<!DOCTYPE html>
<html>
    <head>
	<title>eBook Shelf</title>
<link rel="icon" href="../assets/digital-library.png">
<link rel="stylesheet" href="../css/home.css">
<link rel="stylesheet" href="../css/shelf.css">

<script type="text/javascript" src="../script/shelf.js"></script>
 
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <style>
            
        </style>
    </head>
    <body>
        <ul id="navList">
            <li><a href="../view/home.html">Home</a></li>
            <li><a class="active" href="../view/shelf.html">Shelf</a></li>
            <li><a href="../view/contactus.html">Contact Us</a></li>
            <li><a href="../view/about.html">About Us</a></li>
			<li><a href="../view/login.html">Login</a></li>
			<li><a href="../view/register.html">Sign Up</a></li>
        </ul>
        <div class="body-back">
			<h1 id="heading">eBook Shelf</h1>

		<center><marquee scrollamount="15" id="marqueeAtReadPage" direction="left" loop="" ><b><i>Select your interest and get set read...!</i></b></marquee></center>
		
		<div class="carousel-container">
            <div class="carousel">
                <button class="carousel-button prev">‹</button>
                <div class="carousel-track-container">
                    <ul class="carousel-track" id="book-list">
					</ul>
                </div>
                <button class="carousel-button next">›</button>
            </div>
        </div>
	
	
	
        </div>
		
		<footer>
			<p style="margin-bottom:0px">&copy; 2024 Cloud Library</p><p style="margin-top:0px">Praveen Lahase</p>
		</footer>
    </body>
</html>